<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
.col-md-4{
	width:33.33333%
}
</style>
</head>
<body>
<div class="hero">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-5">
				<div class="intro-excerpt">
					<h1>음악 뉴스</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Hero Section -->
<!-- Start Blog Section -->
<div class="blog-section">
	<div class="container">
		<div class="row">
			<div class="col-20 col-sm-2 col-md-4 mb-5" th:each="vo:${list}">
				<div class="post-entry">
					<a th:href="@{/news/detail(no=${vo.no})}" class="post-thumbnail"><img th:src="${vo.poster}" class="img-fluid" style="width:416px;height: 287px"></a>
					<div class="post-content-entry">
						<h3 style="width:416px"><a th:href="@{/news/detail(no=${vo.no})}" th:text="${vo.title}"></a></h3>
						<div class="meta">
							<span th:text="${vo.regdate}">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<ul style="padding-left: 42%">
  <li th:if="${startPage>1}" style="float: left;list-style-type: none"><a th:href="@{/news/list(page=${startPage-1})}" style="text-decoration: none;font-size: x-large;font-weight: bold;color: #3b5d50">&laquo;</a></li>
  <li th:class="${curpage==i?'current':''}" th:each="i:${#numbers.sequence(startPage,endPage)}" style="float:left;list-style-type: none;margin-left: 3%">
    <a th:href="@{/news/list(page=${i})}" th:text="${i}" style="text-decoration: none;font-size: x-large;color: #3b5d50"></a>
  </li>
  <li th:if="${endPage<totalpage}" style="float: left;list-style-type: none;margin-left: 3%"><a th:href="@{/news/list(page=${endPage+1})}" style="text-decoration: none;font-size: x-large;font-weight: bold;color: #3b5d50">&raquo;</a></li>
</ul>	
</div>
<!-- End Blog Section -->

</body>
</html>